:root{
    --fundoLogin:  rgb(187, 206, 199);
    --corFonteLogin:  rgb(89, 135, 167);
    --btnSistema: beige;
    --corFonteBotao: white;
    --corbtnSitemaHover: beige;
    --corFonteBotaoHover: rgb(0, 0, 0);
    

}